# Supabase
VITE_SUPABASE_URL=https://hnwogiwuujpkvqvwgvab.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhud29naXd1dWpwa3ZxdndndmFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxMDM5NTUsImV4cCI6MjA4OTY3OTk1NX0.9NoVreus4uUIKrhKhMjo5ePFTv18586U7yrF6ppzpAY

# Anthropic API (inserisci la tua chiave API qui)
VITE_ANTHROPIC_API_KEY=sk-ant-xxxxxxxxxxxxxxxxxxxxxxxx

# PayPal (inserisci il tuo username PayPal.me o email)
VITE_PAYPAL_EMAIL=tuo-paypal@email.com
